.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.input-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.result-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.result-table-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
