<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glucovisor</title>

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>

  <body>
    <h1 class="title">Glucovisor</h1>

    <!-- Input form to accept diabetes data -->
    <div class="input-form">
      <form action="{{ url_for('predict') }}" method="POST">
        <!-- Pregnancies -->
        <label for="pregnancies">Pregnancies</label>
        <input
          type="number"
          name="pregnancies"
          id="pregnancies"
          value="5"
          required
        />

        <!-- Glucose -->
        <label for="glucose">Glucose</label>
        <input type="number" name="glucose" id="glucose" value="166" required />

        <!-- Blood Pressure -->
        <label for="blood-pressure">Blood Pressure</label>
        <input
          type="number"
          name="blood-pressure"
          id="blood-pressure"
          value="72"
          required
        />

        <!-- Skin Thickness -->
        <label for="skin-thickness">Skin Thickness</label>
        <input
          type="number"
          name="skin-thickness"
          id="skin-thickness"
          value="19"
          required
        />

        <!-- Insulin -->
        <label for="insulin">Insulin</label>
        <input type="number" name="insulin" id="insulin" value="175" required />

        <!-- BMI -->
        <label for="bmi">BMI</label>
        <input type="number" name="bmi" id="bmi" value="25.8" required />

        <!-- Diabetes Pedigree Function -->
        <label for="diabetes-pedigree-function"
          >Diabetes Pedigree Function</label
        >
        <input
          type="number"
          name="diabetes-pedigree-function"
          id="diabetes-pedigree-function"
          value="0.587"
          required
        />

        <!-- Age -->
        <label for="age">Age</label>
        <input type="number" name="age" id="age" value="51" required />

        <!-- Submit Button -->
        <input type="submit" value="Predict" />
      </form>
    </div>

    <!-- Result -->
    {% if result %}
    <div class="result">
      <h2 class="result-title">Result</h2>

      <!-- Prediction -->
      {% if result.prediction == 1 %}
      <p class="result-text">You have diabetes.</p>
      {% else %}
      <p class="result-text">You don't have diabetes.</p>
      {% endif %}

      <!-- Data Table -->
      <table class="result-table">
        <caption>
          <h3 class="result-table-title">Input Diabetes Data</h3>
        </caption>
        <tr>
          <th>Feature</th>
          <th>Value</th>
        </tr>

        <!-- Pregnancies -->
        <tr>
          <td>Pregnancies</td>
          <td>{{ result.data.pregnancies }}</td>
        </tr>

        <!-- Glucose -->
        <tr>
          <td>Glucose</td>
          <td>{{ result.data.glucose }}</td>
        </tr>

        <!-- Blood Pressure -->
        <tr>
          <td>Blood Pressure</td>
          <td>{{ result.data.blood_pressure }}</td>
        </tr>

        <!-- Skin Thickness -->
        <tr>
          <td>Skin Thickness</td>
          <td>{{ result.data.skin_thickness }}</td>
        </tr>

        <!-- Insulin -->
        <tr>
          <td>Insulin</td>
          <td>{{ result.data.insulin }}</td>
        </tr>

        <!-- BMI -->
        <tr>
          <td>BMI</td>
          <td>{{ result.data.bmi }}</td>
        </tr>

        <!-- Diabetes Pedigree Function -->
        <tr>
          <td>Diabetes Pedigree Function</td>
          <td>{{ result.data.diabetes_pedigree_function }}</td>
        </tr>

        <!-- Age -->
        <tr>
          <td>Age</td>
          <td>{{ result.data.age }}</td>
        </tr>
      </table>
    </div>
    {% endif %}

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
